/* .form {
  background-color: #ddc3a5;
  width: 430px;
  margin-left: auto;
  margin-top: 55px;
  margin-right: auto;
  padding: 20px;
  border-radius: 4px;

  font-weight: 300;
  font-size: 33px;
  letter-spacing: 0.02em;

  box-shadow: 2px 3px 7px #201e20;
} */

.form{
  width: 100%;
}

.btnList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 120px;
}

.btn {
  width: 90px;
  height: 30px;
  border: transparent;
  border-radius: 2px;
  box-shadow: 1px 1px 2px;
  transition: transform 250ms ease-out;
}

.btn:hover,
.btn:focus {
  transform: translate(13px);
}

.btnGood {
  composes: btn;
  background-color: #ddc3a5;
}

.btnNeutral {
  composes: btn;
  background-color: #e0a96d;
}

.btnBad {
  composes: btn;
  background-color: #201e20;
  color: #ddc3a5;
}

 /* .item{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 30px;
 } */
